PORT=3000
DATABASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
B2_ENDPOINT=https://
B2_REGION=
B2_KEY_ID=
B2_APP_KEY=
B2_BUCKET_NAME=
GROQ_API_KEY=gsk_your_api_key_here
JWT_SECRET=
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5134
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret